<!DOCTYPE html>
<html>

<head>
    <title>Lost and Found: The Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleOld.css">
<body style="background-color:#f0f0f0;">

    <!--Epik Title-->
    <div class="title">
        <h1>Lost and Found: The Website</h1>
        <h2>A Comprehensive Catalogue</h2>
    </div>

    <ul>
        <li><a class="active" href="homer.stuy.edu/~tacuna20/lost_and_found.html">Home</a></li>
        <li><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_zippered.html">Zippered Outerwear</a></li>
        <li><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_nonzippered.html">Non-Zippered Outerwear</a></li>
        <li><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html">Gloves, Hats, and
                Scarves</a></li>
        <li><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html">Personal School
                Supplies</a></li>
        <li><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html">Books, Textbooks and
                Papers</a></li>
        <li><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html">Small Items (Room 225)</a>
        </li>

    </ul>

    <!--Basic Info-->
    <div class="main">
        <p>
            As stated in the title, this website is a catalogue covering all the items contained within the <a
                href="http://homer.stuy.edu/~tacuna20/lost_and_found_info.html">various lost and found boxes on the
                second floor</a>. The catalogue will likely be updated at least once every school day, though this is
            not guaranteed.
        </p>

        <!--Actual Stuff-->
        <p>
            The catalogue is split into five categories, corresponding to the different lost and found item types:
            <br><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_zippered.html"><button>Zippered
                    Outerwear</button></a>
            <br><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_nonzippered.html"><button>Non-Zippered
                    Outerwear</button></a>
            <br><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html"><button>Gloves, Hats,
                    and Scarves</button></a>
            <br><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_school.html"><button>Personal School
                    Supplies</button></a> (Notebooks, planners, writing utensils, etc.)
            <br><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_textbooks_papers.html"><button>Books, Textbooks
                    and Papers</button></a>
            <br><a href="http://homer.stuy.edu/~tacuna20/lost_and_found_small_items.html"><button>Small Items (Room
                    225)</button></a> (Metrocards, keychains, airpods, etc.)
        </p>
        <br><br>

        <!--New Lost Items-->
        <h2 style="color:#f08956;text-align: center;">New Lost Items</h2>
        <hr>
        <table>
            <tr>
                <td>
                    <p>
                        <img src="img_the_scream.jpg" width="220" height="293" alt="Example 1">
                        <br><a href="https://en.wikipedia.org/wiki/Thermobaric_weapon">Example 1</a>
                    </p>
                </td>
                <td>
                    <p>
                        <img src="img_the_scream.jpg" width="220" height="293" alt="Example 2">
                        <br><a href="https://en.wikipedia.org/wiki/M777_howitzer">Example 2</a>
                    </p>
                </td>
                <td>
                    <p>
                        <img src="img_the_scream.jpg" width="220" height="293" alt="Example 3">
                        <br><a href="https://en.wikipedia.org/wiki/M61_Vulcan">Example 3</a>
                    </p>
                </td>
                <td>
                    <p>
                        <img src="img_the_scream.jpg" width="220" height="293" alt="Example 4">
                        <br><a href="https://en.wikipedia.org/wiki/M114_155_mm_howitzer">Example 4</a>
                    </p>
                </td>
                <td>
                    <p>
                        <img src="img_the_scream.jpg" width="220" height="293" alt="Example 5">
                        <br><a href="https://en.wikipedia.org/wiki/M198_howitzer">Example 5</a>
                    </p>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>