{% macro nav_bar() -%}
<!--Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="../home">Home</a></li>
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="../outerwear"><i
              class="fa-solid fa-shirt"></i>
            Outerwear</a></li>
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="../gloveshatsscarves"><i
              class="fa-solid fa-mitten"></i> Gloves, Hats, and
            Scarves</a></li>
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="../personalschoolsupplies"><i
              class="fa-solid fa-clipboard"></i> Personal School
            Supplies</a></li>
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="../bookspapers"><i
              class="fa-solid fa-book"></i> Books, Textbooks,
            and
            Papers</a></li>
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="../smallitems"><i
              class="fa-solid fa-id-card"></i> Small Items (Room
            209)</a>
        </li>

        </form>
    </div>
  </nav>
{% endmacro -%}
