<!DOCTYPE html>
<html>
<head>
	<title>Lost and Found: The Website</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background-color:DarkRed;"> 
<!-- Epik Title -->
	<div class="title">
		<h1>Lost and Found: The Website</h1>
		<h2>Zippered Outerwear</h2>   
	</div>

<div class=main>
<p>
<table style="width:100%;font-family:Trebuchet MS;">
	<tr>
		<th>Image</th>
		<th>Date Catalogued</th>
		<th>Description</th> 
		<th>Object Store Page</th>
	</tr>
	<tr>
  		<td><img src="img_the_scream.jpg" width="150" height="200" alt="Example 1"></td>
		<td>3/3/22</td>
		<td>Example 1, very nifty</td>
		<td><a href="https://en.wikipedia.org/wiki/Thermobaric_weapon">Example 1</a></td>
	</tr>

	<tr style="background-color:#b8b8b8">
		<td><img src="img_the_scream.jpg" width="150" height="200" alt="Example 2"></td>
		<td>3/3/22</td>
		<td>Example 2, nifty but not as much</td>
		<td><a href="https://en.wikipedia.org/wiki/M777_howitzer">Example 2</a></td>
	</tr>
	<tr>
		<td><img src="img_the_scream.jpg" width="150" height="200" alt="Example 2"></td>
		<td>3/3/22</td>
		<td>Example 3, not really nifty</td>
		<td><a href="https://en.wikipedia.org/wiki/M61_Vulcan">Example 3</a></td>
	</tr>
	<tr style="background-color:#b8b8b8">
		<td><img src="img_the_scream.jpg" width="150" height="200" alt="Example 4"></td>
		<td>3/3/22</td>
		<td>Example 4, very funni</td>
		<td><a href="https://en.wikipedia.org/wiki/M60_machine_gun">Example 4</a></td>
	</tr>
	<tr>
		<td><img src="img_the_scream.jpg" width="150" height="200" alt="Example 5"></td>
		<td>3/3/22</td>
		<td>Example 5, still quite funni</td>
		<td><a href="https://en.wikipedia.org/wiki/M240_machine_gun">Example 5</a></td>
	</tr>
</table>
</p>
</div>
</body>
</html>